/* we use z-index 99 here because im lazy to fix a lot of my wierd indexing and it just means its in front of well... everything! */
.question-backdrop {
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.question-modal {
  z-index: 100;
}

.question-prompt input {
  width: 80%;
  padding: .5em;

  text-align: center;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;

  border: 4px solid;
  border-radius: 20px;
  border-color: rgba(190,190,190,0.7);

  background-color: #282828;
  color: #ffffff;

  margin-left: 10px;
  margin-right: 10px;

  outline: none;
}

.question-prompt .button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  margin-top: 1em;

  background: none;
}

.question-prompt .button {
  margin: 10px;
  padding: 10px;

  font-size: 1.5em;

  border-radius: 10px;
  background: linear-gradient(#787878, #323232);

  border: 4px solid;
  border-radius: 20px;
  border-color: rgba(190,190,190,0.7);

  width: fit-content;

  text-align: center;

  user-select: none;
  cursor: pointer;
}

.question-prompt .button.locked {
  pointer-events: none;
  cursor: none;
  opacity: 0.6;
}

.question-prompt .button:hover {
  background: #d63333;
}