.nomination-display {
  position: absolute;

  width: 60vmin;
  height: 60vmin;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 29;

  user-select: none;
  pointer-events: none;

  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
}

.nomination-display > .clock-hand {
  position: absolute;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  width: 60vmin;
  height: 60vmin;

  transition: transform 2.5s;

  filter: drop-shadow(0 0 3px #000000);
}

.nomination-display > .nomination-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 60vmin;

  text-align: center;
  pointer-events: auto;

  font-size: 1.5em;
  color: #ffffff;

  text-shadow:
    1px 1px 1px #000000,
    -1px 1px 1px #000000,
    -1px -1px 1px #000000,
    1px -1px 1px #000000;
}

.nomination-display .button-group {
  text-align: center;

  margin-top: 1em;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nomination-display .button-group .button {
  margin: 10px;
  padding: 10px;

  font-size: 0.8em;

  background: linear-gradient(#787878, #323232);

  border: 4px solid;
  border-radius: 20px;
  border-color: rgba(190,190,190,0.7);

  width: fit-content;

  text-align: center;
  text-shadow: none;
}

.nomination-display .button-group .button:hover {
  background: #d63333;
}

.nomination-display .button-group .button.locked {
  background: linear-gradient(#787878, #323232) !important;
  opacity: 0.6;
}